@font-face {
    font-family: 'playfairdisplay';
    src: url('./fonts/PlayfairDisplay-Bold.otf');
    src: url('./fonts/PlayfairDisplay-Bold.otf?iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay700.ttf') format('truetype'),
        
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f8f9fa !important;
    font-family: 'PlayfairDisplay700';
}

form {
    margin-top: 100px;
}


.logo-container {
    
    border: 4px black;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 5px;
    display: flex;
}

.logo-container h1 {
    background-image: url("./images/world.jpg");
    margin-top: 50%;
    color:red;
    font-family: 'PlayfairDisplay700';

}

.navi {
    font-family: 'PlayfairDisplay-Bold';
    font-size: 1.5em;
    color: black;
    padding: 10px;
 
    margin: 10px;
}
.navbar-nav {
    padding-left: 200px;
}
.navi:hover {
    color: black;
    border-bottom: 4px solid red;
    text-decoration: none;
}

    

.row-1 {
    margin-bottom: -115px;
    margin-left: 20em;
    padding-top: 5.5em;
}

.experience {
    
    height: auto;
    margin: 5em 100px;
}

.job {
    width: 46%;
    float: left;
    text-align: center;
    /* margin-left: 2%;
    margin-right: 2%; */
    margin-bottom: 3%;
    position: relative;
}

.horizontalLine {
    background-color: bold solid black;
}

.jobTitle {
    text-align: left;
}

.jobPosition {
    text-align: left;
    font-style: italic;
}

.grayLink {
    text-align: right;
    height: 30px;
    position: absolute;
    left: 95%;
    top: 20px;
}
.grayLink:hover {
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    background: url("images/icons/linkdarkgray.svg") bottom;
    cursor: pointer;
    
}

#intro-box {
    position: relative;
    left: 15em;
    top: -12em;
}

#intro-box h1 {
    font-size: 5rem;
    color: rgb(216, 23, 23);
    font-style: italic;
    text-shadow: 3px 3px black;
}

#intro-box h3 {
    font-family: bold 'PlayfairDisplay-Bold';
}

#line {
    border-top: 5px solid black;
    
}
#line2 {
    border-top: 5px solid black;
    margin-left: 225px;
    margin-right: 125px;
}


.jumbotron {
    background-color: lightgray;
    font-size: 15px;
}

#shadow-Text {
    text-shadow: 7px 7px 7px #22252a;
}

#shadow-Text2 {
    text-shadow: 7px 7px 7px #22252a;
}

.display-2 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
}

.bg-secondary {
    background-color: #f8f9fa !important;
}

#whitebox {
    background-color: white;
    border: 5px solid black;
    width: 50%;
}

#greybox {
    width: 50%;
    font-size: 25px;
}

.pictures {
    margin-bottom: 3%;
    /* text-align: center;
    position: relative;
    height: auto; */
}

.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.thumbnail-item {
    list-style: none;
    flex: 0 0 33.3333%;
}

.thumbnail-image {
    display: block;
    width: 100%;
    height: 100%;
}

.picture {
    height: 175px;
    /* width: 29%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5px; 
    position: relative; */
}

.hoverLayer {
    display: none;
    /* position: absolute;
    top: 381px;
    left: 23.5px;
    height: 300px; */
    opacity: 0.8;
    background-color: white;
    width: 29%;
    /* text-align: center;
    vertical-align: middle; */
    font-size: 130px;
    line-height: 300px;
}

/* form css */

.formHeader {
    font-size: 5rem;
    margin-right: 0%;
    margin-left: 1em;
    margin-bottom: 25px;
    color: #22252a;
    
}

.formSmallerHeader {
    font-size: 100%;
    color: lightslategray;
    float: right;
    
}

.footer {
    text-align: center;
    margin-top: 50px;
}

.staticPosition {
    float: left;
}

.alignRight {
    align-items: right;
}

.largeBoldText {
    font-size: 150%;
}

.activeItem {
    color: black;
    font-size: 150%;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 red;
}

.noBottomMargin {
    margin-bottom: 10px;
    margin-top: 5px;
}

.largeHeight {
    height: 10rem;
}

.smallTopMargin {
    margin-top: 1rem;
}

.mediumBottomMargin {
    margin-bottom: 3rem;
}

.orangeColor {
    background-color: tomato;
}

.largeWhiteText {
    color: white;
    font-size: 2rem;
}

.largeButton {
    width: 8rem;
    height: 3rem;
    margin-bottom: 100px;
}

.grayBorder {
    border: 1px solid lightgray;
    background-color: lightgray;
}

.roundedEdges {
    border-radius: 3px;
}

.largeWidth {
    width: 47rem;
}

.mediumHeight {
    height: 3rem;
}

.smallLeftPadding {
    padding-left: 1rem;
}

.smallTopPadding {
    padding-top: 1rem;
}

.smallFooterPicture {
    width: 4rem;
    height: 4rem;
}