@font-face {
    font-family: playfairbold;
    src: url(./fonts/PlayfairDisplay-Bold.woff);
    font-weight: bold;
}

.logo-container {
    border: 4px black;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 5px;
}

.logo-container h1 {
    color: black;
    font-family: 'PlayfairDisplay';
}

.navi {
    font-family: 'PlayfairDisplay-Bold';
    font-size: 1.5em;
    color: black;
    padding: 10px;
    margin: 10px;
}

.navi:hover {
    color: black;
    text-decoration: red underline;
}

.row {
    margin-bottom: -115px;
}

.experience {
    margin-top: 50px;
    height: auto;
}

.job {
    width: 46%;
    float: left;
    text-align: center;
    /* margin-left: 2%;
    margin-right: 2%; */
    margin-bottom: 3%;
    position: relative;
}

.horizontalLine {
    background-color: black;
}

.jobTitle {
    text-align: left;
}

.jobPosition {
    text-align: left;
    font-style: italic;
}

.grayLink {
    text-align: right;
    height: 20px;
    position: absolute;
    left: 95%;
    top: 20px;
}

#intro-box {
    position: relative;
    left: 20em;
    top: -12em;
}

#intro-box h1 {
    font-size: 5rem;
    color: rgb(216, 23, 23);
    font-style: italic;
    text-shadow: 3px 3px black;
}

#intro-box h3 {
    font-family: 'PlayfairDisplay';
}

#line {
    border-top: 5px solid black;
}

.bottom-line {
    border-bottom: 4px solid black;
}

.bottom-line h3 {
    display: inline;
}

.bottom-line img {
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    background: url("images/icons/linkdarkgray.svg") bottom;
}

.jumbotron {
    background-color: rgb(214, 214, 187);
}

#shadow-Text {
    text-shadow: 7px 7px 7px #22252a;
}

#shadow-Text2 {
    text-shadow: 7px 7px 7px #22252a;
}

.display-2 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
}

.bg-secondary {
    background-color: #f8f9fa !important;
}

body {
    background-color: #f8f9fa !important;
    font-family: 'PlayfairDisplay 700';
}

#whitebox {
    background-color: white;
    border: 5px solid black;
    width: 50%;
}

#greybox {
    width: 50%;
}

.pictures {
    width: 100%;
    margin-bottom: 3%;
    /* text-align: center;
    position: relative;
    height: auto; */
}

.picture {
    height: 175px;
    /* width: 29%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5px; 
    position: relative; */
}

.hoverLayer {
    display: none;
    /* position: absolute;
    top: 381px;
    left: 23.5px;
    height: 300px; */
    opacity: 0.8;
    background-color: white;
    width: 29%;
    /* text-align: center;
    vertical-align: middle; */
    font-size: 130px;
    line-height: 300px;
}

/* form css */

#formDiv {
    position: center;
    top-margin: 400px;
    height: 600px;
    display: inline;
}

#contactH1 {
    position: absolute;
    top: 100px;
    left: 125px;
    font-weight: 800;
    font-size: 4em;
}

#contactForm {
    position: absolute;
    left: 400px;
    top: 200px;
    width: 600px;
}

input {
    width: 100%;
}

.btn.btn-primary {
    background-color: red;
    float: right;
}